<% notes.each do |note| %>
  <div class="panel <%= note.positive? ? "panel-success" : "panel-danger" %>">
    <div class="panel-heading"><%= note.title %></div>
    <div class="panel-body">
      <div><%= note.body %></div>
    </div>
    <div class="panel-footer">
      <div>By: <%= note.create_by %></div>
      <div class='notes-action-btns'>
        <% unless note.meeting_id %>
          <%= link_to meeting_path(meeting, note: note), method: :patch do %>
             <div class='reviewed-btn'>
               <span class="glyphicon glyphicon-ok"></span>
               <span>Mark as reviewed</span>
             </div>
          <% end %>
        <% end %>

        <%= link_to new_action_item_path(meeting: meeting, note: note) do %>
           <div>
             <span class="glyphicon glyphicon-plus"></span>
             <span>Create action item</span>
           </div>
        <% end %>
      </div>
    </div>
  </div>
<%end %>
