<% if notes.empty? %>
  <div class='empty-view-title'>No Notes...</div>
<% end %>
<% notes.each do |note| %>
  <div class="panel <%= note.positive? ? "panel-success" : "panel-danger" %>">
    <div class="panel-heading"><%= note.title %></div>
    <div class="panel-body">
      <div><%= note.body %></div>
    </div>
    <div class="panel-footer">
      <div>By: <%= note.create_by %></div>
      <% unless reviewed %>
        <%= link_to meeting_path(meeting, note: note), method: :patch do %>
           <div class='reviewed-btn'>
             Mark as reviewed <span class="glyphicon glyphicon-ok"></span>
           </div>
        <% end %>
      <% end %>

      <% if reviewed %>
        <%= link_to new_action_item_path(meeting: meeting, note: note) do %>
           <div class='reviewed-btn'>
             Create action item <span class="glyphicon glyphicon-plus"></span>
           </div>
        <% end %>
      <% end %>
    </div>
  </div>
<%end %>
