
<div class="container meeting-page">
  <div class="meeting-nav-btn">
    <%= button_to "Previous Meeting", meetings_path, method: :post, class: 'btn btn-primary create-meeting-btn'%>
  </div>

  <div class="meeting-table">
    <div class="col-sm-3 column">
      <h4>Previous Action Items</h4>
      <%= render partial: "action_items_column", locals: {action_items: @previous_action_items} %>
    </div>
    <div class="col-sm-3 column">
      <h4>New Notes</h4>
      <%= render partial: "notes_column", locals: {notes: @new_notes, meeting: @meeting, reviewed: false} %>
    </div>
    <div class="col-sm-3 column">
      <h4>Reviewed Notes</h4>
      <%= render partial: "notes_column", locals: {notes: @reviewed_notes, meeting: @meeting, reviewed: true} %>
    </div>
    <div class="col-sm-3 column">
      <h4>New Action Items</h4>
      <%= render partial: "action_items_column", locals: {action_items: @new_action_items} %>
    </div>
  </div>

  <div class="meeting-nav-btn">
    <%= button_to "Create Meeting", meetings_path, method: :post, class: 'btn btn-primary create-meeting-btn'%>
  </div>
</div>
