<div class='meeting-tab'>
  <div class='left-sidebar'>

    <%= render partial: "meeting_tab_nav", locals: {meeting: @meeting, previouse_meeting: @previouse_meeting, next_meeting: @next_meeting} %>

    <div class="<%= @selected == 'previous_action_items' ? 'sidebar-btn selected' : 'sidebar-btn' %>">
      <%= link_to 'Last Action Items', meeting_path(@meeting, selected: 'previous_action_items'), method: :get %>
    </div>
    <div class='seperator'><span class="glyphicon glyphicon-triangle-bottom"></span></div>

    <div class="<%= @selected == 'discussion' ? 'sidebar-btn selected' : 'sidebar-btn' %>">
      <%= link_to 'Discussion', meeting_path(@meeting, selected: 'discussion'), method: :get %>
    </div>
    <div class='seperator'><span class="glyphicon glyphicon-triangle-bottom"></span></div>

    <div class="<%= @selected == 'new_action_items' ? 'sidebar-btn selected' : 'sidebar-btn' %>">
      <%= link_to 'New Action Items', meeting_path(@meeting, selected: 'new_action_items'), method: :get%>
    </div>
  </div>

  <div class='main-view'>
    <% if @selected == 'previous_action_items' %>
      <%= render partial: "action_items_column", locals: {action_items: @previous_action_items} %>
    <% end %>

    <% if @selected == 'discussion' %>
      <% if @new_notes.empty? && @reviewed_notes.empty? %>
        <div class='empty-view-title'>No Notes...</div>
      <% end %>
      <div class='notes-seperator'>
        <% unless @new_notes.empty? %> <span>New Notes</span> <% end %>
      </div>
      <%= render partial: "notes_column", locals: {notes: @new_notes, meeting: @meeting, reviewed: false} %>
      <div class='notes-seperator'>
        <% unless @reviewed_notes.empty? %> <span>Reviewed Notes</span> <% end %>
      </div>
      <%= render partial: "notes_column", locals: {notes: @reviewed_notes, meeting: @meeting, reviewed: true} %>
    <% end %>

    <% if @selected == 'new_action_items' %>
      <%= render partial: "action_items_column", locals: {action_items: @new_action_items} %>
    <% end %>
  </div>
</div>
