<div class='meeting-tab'>
  <div class='left-sidebar'>
    <div class="<%= @selected == 'previous_action_items' ? 'sidebar-btn selected' : 'sidebar-btn' %>">
      <%= link_to 'Last Action Items', meeting_path(@meeting, selected: 'previous_action_items'), method: :get %>
    </div>
    <div class='seperator'><span class="glyphicon glyphicon-triangle-bottom"></span></div>

    <div class="<%= @selected == 'new_notes' ? 'sidebar-btn selected' : 'sidebar-btn' %>">
      <%= link_to 'For Discussion', meeting_path(@meeting, selected: 'new_notes'), method: :get %>
    </div>
    <div class='seperator'><span class="glyphicon glyphicon-triangle-bottom"></span></div>

    <div class="<%= @selected == 'reviewed_notes' ? 'sidebar-btn selected' : 'sidebar-btn' %>">
      <%= link_to 'Discussed', meeting_path(@meeting, selected: 'reviewed_notes'), method: :get%>
    </div>
    <div class='seperator'><span class="glyphicon glyphicon-triangle-bottom"></span></div>

    <div class="<%= @selected == 'new_action_items' ? 'sidebar-btn selected' : 'sidebar-btn' %>">
      <%= link_to 'New Action Items', meeting_path(@meeting, selected: 'new_action_items'), method: :get%>
    </div>
  </div>

  <div class='main-view'>
    <% if @previous_action_items %>
      <%= render partial: "action_items_column", locals: {action_items: @previous_action_items} %>
    <% end %>
    <% if @new_notes %>
      <%= render partial: "notes_column", locals: {notes: @new_notes, meeting: @meeting, reviewed: false} %>
    <% end %>
    <% if @previous_action_items %>
      <%= render partial: "notes_column", locals: {notes: @previous_action_items, meeting: @meeting, reviewed: true} %>
    <% end %>
    <% if @new_action_items %>
      <%= render partial: "action_items_column", locals: {action_items: @new_action_items} %>
    <% end %>
  </div>
</div>
