<header>
  <div class='header-container'>
    <%= link_to 'Retro-Spec', root_path, class: 'header-title' %>

    <nav>
      <div class='nav-btn'> <%= link_to "Notes", notes_path %> </div>
      <div class='nav-btn'> <%= link_to "Meetings", root_path %> </div>
      <div class='nav-btn'> <%= link_to "Action Items", action_items_path %> </div>
    </nav>
  </div>
  <%= image_tag('logo.png', class: "logo") %>
</header>
